//*** Layout: Header ***//
/** 
 * Description of the module's purpose
 */

 @use '../abstracts/variables/__index__' as var;
 @use '../abstracts/functions/__index__' as fn;
 @use '../abstracts/mixins/__index__' as mx;
 
 @use 'sass:color';
 @use 'sass:list';
 @use 'sass:map';
 @use 'sass:math';
 @use 'sass:meta';
 @use 'sass:selector';
 @use 'sass:string';

.main-header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-primary);

  &__inner {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--gap-400);
    align-content: center;
  }

  &__brand {
    margin-inline: -2px;
    padding-inline: 2px;
    padding-block: var(--gap-150);
    font-family: var(--primary-ff);
    font-size: var(--fs-500);
    font-weight: var(--primary-bold);
    line-height: 1;

    color: var(--background-color);
    text-decoration: none;

    // &:visited {
    //   color: inherit;
    // }
  }

  &__nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  }

  &__nav-menu {
    // align-self: stretch;
    display: flex;
    align-items: center;
  }
  &__nav-item {
    list-style: none;
  }
  &__nav-link {
    color: var(--background-color);
    text-decoration: none;
    
  }
}